$primary-bg-color: rgba(34, 40, 49, .9)
$primary-text-color: #F97D3E 
$secondary-text-color: #fff
$core-font-family: "Recursive Light", "Segeo UI", sans-serif
$italic-font: "Recursive Italic", "Segeo UI", sans-serif
$text-shadow:  0px 0px 10px rgba(249, 125, 62, 1)
$footer-bg-color: #2A2E35
$footer-text-size: 24px
$navigation-bar-color: 	#2A2E35
$hamburger-color: #F97D3E
$orange-color: #F97D3E


// Responsive design

// 4K
$header-one-4k: 49px
$header-four-4k: 30px


// Laptop L, Laptop, tablet
$header-one-ll: 39px
$header-four-ll: 20px

// Moblie L
$header-one-ml: 29px
$header-four-ml: 18px




@font-face 
  font-family: 'Recursive Regular'
  font-display: swap
  src: url('../fonts/RecursiveSansLnrSt-Regular.woff2') format('woff2')
  font-variation-settings: "CASL" 0, "slnt" -5

@font-face 
  font-family: 'Recursive Light'
  font-display: swap
  src: url('../fonts/RecursiveSansLnrSt-Light.woff2') format('woff2')

@font-face
  font-family: 'Recursive Italic'
  font-display: swap
  src: url('../fonts/RecursiveSansLnrSt-Italic.woff2') format('woff2')

@font-face 
  font-family: 'Segoe UI'
  font-display: swap
  src: url('../fonts/Segoe UI.woff') format('woff2')
*
  margin: 0
  padding: 0
  box-sizing: content-box
  font-family: $core-font-family
  color: $primary-text-color

body
  background-color: $primary-bg-color

section 
  height: 100vh
  

.text-emphasis
  font-family: $italic-font

