
.personal-details
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  width: 100%
  &__identity
    flex-grow: 2
    display: flex
    flex-direction: column
    padding-left: 24px
  &__name
    margin-top: 54px
    h1
      color: $secondary-text-color
      font-size: 59px
  &__occupation
    font-size: 24px
  &__slider
    padding-top: 16px
    padding-bottom: 36px
    width: 90%
    align-self: flex-end
    input
      opacity: 0.7
      &:hover
        opacity: 1
  &__particle-photo
    flex-grow: 10
    canvas 
      width: 100%
      height: 100%
      position: relative
      z-index: -10

$spinTime: 3


input
  display: none

  + div + div
    width: 280px
    margin-top: 10px

    label
      display: block
      padding: 20px 10px
      text-align: center
      transition: all 0.15s ease-in-out
      background: $primary-bg-color
      border-radius: 10px
      box-sizing: border-box
      width: 48%
      font-size: 64px
      cursor: pointer

      &:first-child
        float: left
        box-shadow: inset 0 0 0 4px #F97D3E, 0 15px 15px -10px rgba(darken(#F97D3E, 10%), 0.375)

      &:last-child
        float: right

  &#portrait:checked ~ div + div label
    &:first-child
      box-shadow: inset 0 0 0 4px #F97D3E, 0 15px 15px -10px rgba(darken(#F97D3E, 10%), 0.375)

    &:last-child
      box-shadow: inset 0 0 0 0px #F97D3E, 0 10px 15px -20px rgba(#F97D3E, 0)

  &#crazy:checked ~ div + div label
    &:first-child
      box-shadow: inset 0 0 0 0px #F97D3E, 0 10px 15px -20px rgba(#F97D3E, 0)

    &:last-child
      box-shadow: inset 0 0 0 4px #F97D3E, 0 15px 15px -10px rgba(darken(#F97D3E, 10%), 0.375)
