
.personal-details
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  width: 100%
  &__identity
    flex-grow: 2
    display: flex
    flex-direction: column
    padding-left: 24px
  &__name
    margin-top: 54px
    h1
      color: $secondary-text-color
      font-size: 59px
  &__occupation
    font-size: 24px
  &__slider
    padding-top: 16px
    padding-bottom: 36px
    width: 90%
    align-self: flex-end
    input
      opacity: 0.7
      &:hover
        opacity: 1
  &__particle-photo
    flex-grow: 10
    
