$navigation-bar-color: 	#2A2E35
$hamburger-color: #F97D3E
// $orange-color: #F97D3E

.nav
  position: relative
  filter: url("#gooey")
  &__bar
    background-color: $navigation-bar-color
    transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    height: 60px
    display: flex
    flex-direction: row
    justify-content: space-around
    transform: translateY(-70px)
    border-radius: 5px
    align-items: center
    &--drop-menu
      transform: translateY(-5px)
  &__links ul
    list-style: none
    li
      display: inline-block
      margin-right: 16px
      a
        text-decoration: none
        


  &__hamburger
    position: absolute
    top: 15px
    right: 30px
    width: 50px
    height: 50px
    border-radius: 50%
    cursor: pointer
    transition: background-color 0.7s linear 
    &--active
      background-color: $navigation-bar-color

.hamburger
  svg
    width: 70px
    height: 70px
  svg path
    fill: none
    stroke-width: 26px
    stroke: $hamburger-color
    stroke-linecap: round
    stroke-dashoffset: 0
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25),
    stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 
    &.hamburger__top, &.hamburger__bottom
      stroke-dasharray: 240px 950px
    &.hamburger__middle 
      stroke-dasharray: 240px 240px
  &--cross path.hamburger__top, &--cross path.hamburger__bottom
    stroke-dashoffset: -650px
  &--cross path.hamburger__middle
    stroke-dashoffset: -215px
    stroke-dasharray: 1px 220px
