@font-face {
  font-family: 'Recursive Regular';
  font-display: swap;
  src: url("../fonts/RecursiveSansLnrSt-Regular.woff2") format("woff2");
  font-variation-settings: "CASL" 0, "slnt" -5;
}

@font-face {
  font-family: 'Recursive Light';
  font-display: swap;
  src: url("../fonts/RecursiveSansLnrSt-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Recursive Italic';
  font-display: swap;
  src: url("../fonts/RecursiveSansLnrSt-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Segoe UI';
  font-display: swap;
  src: url("../fonts/Segoe UI.woff") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "Recursive Light", "Segeo UI", sans-serif;
  color: #F97D3E;
}

body {
  background-color: rgba(34, 40, 49, 0.9);
}

section {
  height: 100vh;
}

.nav {
  position: relative;
  -webkit-filter: url("#gooey");
          filter: url("#gooey");
}

.nav__bar {
  background-color: #2A2E35;
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__bar--drop-menu {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.nav__links ul {
  list-style: none;
}

.nav__links ul li {
  display: inline-block;
  margin-right: 16px;
}

.nav__links ul li a {
  text-decoration: none;
}

.nav__hamburger {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.7s linear;
  transition: background-color 0.7s linear;
}

.nav__hamburger--active {
  background-color: #2A2E35;
}

.hamburger svg {
  width: 70px;
  height: 70px;
}

.hamburger svg path {
  fill: none;
  stroke-width: 26px;
  stroke: #F97D3E;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
}

.hamburger svg path.hamburger__top, .hamburger svg path.hamburger__bottom {
  stroke-dasharray: 240px 950px;
}

.hamburger svg path.hamburger__middle {
  stroke-dasharray: 240px 240px;
}

.hamburger--cross path.hamburger__top, .hamburger--cross path.hamburger__bottom {
  stroke-dashoffset: -650px;
}

.hamburger--cross path.hamburger__middle {
  stroke-dashoffset: -215px;
  stroke-dasharray: 1px 220px;
}

.personal-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.personal-details__identity {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
}

.personal-details__particle-photo {
  width: 100%;
  -ms-flex-preferred-size: 2;
      flex-basis: 2;
  border: 1px solid white;
}

.blob-card {
  padding: 200px;
  margin-top: 54px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.blob-card__layer-one {
  position: absolute;
  z-index: 3;
  fill: rgba(249, 125, 62, 0.9);
}

.blob-card__layer-two {
  position: absolute;
  z-index: 2;
  fill: rgba(255, 192, 110, 0.3);
}

.blob-card__layer-three {
  position: absolute;
  z-index: 1;
  fill: rgba(255, 192, 110, 0.14);
}

.blob-card__random-blob-one {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: -100px;
  fill: rgba(255, 192, 110, 0.14);
}

.blob-card__random-blob-one-shadow {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: -90px;
  fill: rgba(255, 192, 110, 0.05);
}

.blob-card__random-blob-two {
  position: absolute;
  z-index: 2;
  right: -100px;
  bottom: 20px;
  fill: rgba(255, 192, 110, 0.14);
}

.blob-card__random-blob-two-shadow {
  position: absolute;
  z-index: 1;
  right: -90px;
  bottom: 20px;
  fill: rgba(255, 192, 110, 0.05);
}

.blob-card__random-blob-three {
  position: absolute;
  z-index: 2;
  right: 470px;
  bottom: 150px;
  fill: rgba(255, 192, 110, 0.14);
}

.blob-card__random-blob-three-shadow {
  position: absolute;
  z-index: 1;
  right: 460px;
  bottom: 150px;
  fill: rgba(255, 192, 110, 0.05);
}

.blob-card__text {
  margin-top: 50px;
  position: absolute;
  z-index: 100;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.blob-card__text-promo {
  font-size: 30px;
  color: black;
}

.blob-card__text-social ul {
  margin-top: 46px;
  list-style: none;
}

.blob-card__text-social ul li {
  display: inline-block;
  color: black;
}
/*# sourceMappingURL=main.css.map */