@font-face {
  font-family: 'Recursive Regular';
  font-display: swap;
  src: url("../fonts/RecursiveSansLnrSt-Regular.woff2") format("woff2");
  font-variation-settings: "CASL" 0, "slnt" -5;
}

@font-face {
  font-family: 'Recursive Light';
  font-display: swap;
  src: url("../fonts/RecursiveSansLnrSt-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Recursive Italic';
  font-display: swap;
  src: url("../fonts/RecursiveSansLnrSt-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Segoe UI';
  font-display: swap;
  src: url("../fonts/Segoe UI.woff") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "Recursive Light", "Segeo UI", sans-serif;
  color: #F97D3E;
}

body {
  background-color: rgba(34, 40, 49, 0.9);
}

section {
  height: 100vh;
}

.text-emphasis {
  font-family: "Recursive Italic", "Segeo UI", sans-serif;
}

.nav {
  position: relative;
  -webkit-filter: url("#gooey");
          filter: url("#gooey");
}

.nav__bar {
  background-color: #2A2E35;
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__bar--drop-menu {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.nav__links ul {
  list-style: none;
}

.nav__links ul li {
  display: inline-block;
  margin-right: 16px;
}

.nav__links ul li:hover {
  text-shadow: 0px 0px 10px #f97d3e;
}

.nav__links ul li a {
  text-decoration: none;
}

.nav__hamburger {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.7s linear;
  transition: background-color 0.7s linear;
}

.nav__hamburger--active {
  background-color: #2A2E35;
}

.hamburger svg {
  width: 70px;
  height: 70px;
}

.hamburger svg path {
  fill: none;
  stroke-width: 26px;
  stroke: #F97D3E;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
}

.hamburger svg path.hamburger__top, .hamburger svg path.hamburger__bottom {
  stroke-dasharray: 240px 950px;
}

.hamburger svg path.hamburger__middle {
  stroke-dasharray: 240px 240px;
}

.hamburger--cross path.hamburger__top, .hamburger--cross path.hamburger__bottom {
  stroke-dashoffset: -650px;
}

.hamburger--cross path.hamburger__middle {
  stroke-dashoffset: -215px;
  stroke-dasharray: 1px 220px;
}

#gooey-svg-filter {
  height: 0;
  width: 0;
}

.personal-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.personal-details__identity {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 24px;
}

.personal-details__name {
  margin-top: 54px;
}

.personal-details__name h1 {
  color: #fff;
  font-size: 59px;
}

.personal-details__occupation {
  font-size: 24px;
}

.personal-details__particle-photo {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.personal-details__particle-photo #upper-monitor {
  position: absolute;
  z-index: 1111111;
}

.blob-card {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  overflow: hidden;
}

.blob-card__random-blob-one {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: -100px;
  fill: rgba(255, 192, 110, 0.14);
}

.blob-card__random-blob-one--animation-float-right {
  -webkit-animation: floating-right 9s ease-in-out infinite;
          animation: floating-right 9s ease-in-out infinite;
}

.blob-card__random-blob-one-shadow {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: -90px;
  fill: rgba(255, 192, 110, 0.05);
}

.blob-card__random-blob-one-shadow--animation-float-right {
  -webkit-animation: floating-right 9s ease-in-out infinite;
          animation: floating-right 9s ease-in-out infinite;
}

.blob-card__random-blob-two {
  position: absolute;
  z-index: 2;
  right: -100px;
  bottom: 20px;
  fill: rgba(255, 192, 110, 0.14);
}

.blob-card__random-blob-two--animation-float-diagonal {
  -webkit-animation: floating-diagonal 9s ease-in-out infinite;
          animation: floating-diagonal 9s ease-in-out infinite;
}

.blob-card__random-blob-two-shadow {
  position: absolute;
  z-index: 1;
  right: -90px;
  bottom: 20px;
  fill: rgba(255, 192, 110, 0.05);
}

.blob-card__random-blob-two-shadow--animation-float-diagonal {
  -webkit-animation: floating-diagonal 9s ease-in-out 2s infinite;
          animation: floating-diagonal 9s ease-in-out 2s infinite;
}

.blob-card__random-blob-three {
  position: absolute;
  z-index: 2;
  right: 470px;
  bottom: 150px;
  fill: rgba(255, 192, 110, 0.14);
}

.blob-card__random-blob-three--animation-float-top {
  -webkit-animation: floating-top 9s ease-in-out 2s infinite;
          animation: floating-top 9s ease-in-out 2s infinite;
}

.blob-card__random-blob-three-shadow {
  position: absolute;
  z-index: 1;
  right: 460px;
  bottom: 150px;
  fill: rgba(255, 192, 110, 0.05);
}

.blob-card__random-blob-three-shadow--animation-float-top {
  -webkit-animation: floating-top 9s ease-in-out infinite;
          animation: floating-top 9s ease-in-out infinite;
}

.blob-card__text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.blob-card__text-promo {
  font-size: 49px;
  color: #fff;
}

.blob-card__text-social {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.blob-card__text-social ul {
  margin-top: 46px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blob-card__text-social ul li {
  position: relative;
  z-index: 100000;
  width: 50px;
  height: 50px;
  margin-right: 66px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.blob-card__text-social ul li svg {
  fill: white;
}

.blob-card__text-social ul li:hover {
  -webkit-filter: drop-shadow(0 0 0.75rem #F97D3E);
          filter: drop-shadow(0 0 0.75rem #F97D3E);
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@-webkit-keyframes floating-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes floating-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes floating-diagonal {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes floating-diagonal {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes floating-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes floating-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

footer {
  width: 100%;
  height: 200px;
  position: relative;
}

.brief {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.brief__text {
  position: absolute;
  bottom: 40px;
  text-align: center;
  font-size: 24px;
}

.brief__text a {
  font-family: "Recursive Italic", "Segeo UI", sans-serif;
  text-decoration: none;
}

.brief__text a:hover {
  text-shadow: 0px 0px 10px #f97d3e;
}

.brief__svg {
  fill: #2A2E35;
}
/*# sourceMappingURL=main.css.map */